* {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    height: 80px;
}

span {
    color:#007AF3;
}

ul li {
    list-style: none;
}

section.left{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;

    text-align: center;
}

section.middle{
    width: 650px;

}

section.middle ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

section.right{
    width: 370px;
}

section.right ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

li.GoPremium{
    color: #007AF3;
    border: 1px solid #007AF3;
    border-radius: 6px;
}

section.hero{
    background-color: #F2F2F2;
    height: 650px;

    display: flex;
}

section.hero-left{
    
    width: 50%;

    display: flex;
    flex-direction: column;

    /* align-items: center; */
    justify-content: center;

}

p.easy {
    color:#8B8B8B;

    margin: 0;
    margin-left: 110px;
    font-size: 20px;
}
h1{
    width: 582px;
    font-size: 70px;

    text-align: center;

    margin: 0;
}

button{
    background-color: #007AF3;
    color: white;

    width: 140px;
    height: 50px;

    border-radius: 80px;

    margin-left: 110px;

    font-size: 15px;
}

img.camera{
    width: 140px;
}

section.TryForFree{

    width: 400px;
    
    display: flex;
    justify-content: space-between;
}

section.hero-right{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

img.grafik{
    width: 280px;
    height: 450px;
}

section.functions{
    background-color: #3B4651;
    height: 500px;

    position: relative;

    display: flex;
}

aside.bluebox{

    position: absolute;
    position: relative;
    left: 0;
    top: -60px;

    width: 160px;
    height: 350px;

    background-color: #007AF3;
}

img.blueboxcircle{

    position: absolute;
    left: 50%;
    top: 35%;

    width: 150px;
}

section.tasks{

    margin-left: 200px;
    margin-top: 70px;

    color: white;
}

section.tasks li{

    margin-bottom: 30px;
}

section.tasks li::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/Component\ 9\ –\ 1.svg);
    background-size: contain;
    margin-right: 5px;
}

section.greybox{
    background-color: #3B4651;

    position: absolute;

    right: 0;
    bottom: -80px;

    height: 380px;
    width: 350px;

    z-index: 9;
}

img.greyboximage{

    position: absolute;

    right: 0;
    bottom: -80px;

    height:380px;
    width: 350px;

    mix-blend-mode: luminosity;

    z-index: 10;
}

section.testimonials{
    background-color: #007AF3;

    height: 750px;
    position: relative;
}

.slideshow{
    display: inline-block;
    overflow: hidden;
    /* overflow: scroll;
    overflow-y: hidden; */
    white-space: nowrap;
    width: 100%;


    height: 750px;
    position: relative;
    
}

section.card{
    background-color: #006FDC;

    height: 300px;
    width: 280px;

    border-radius: 35px;
    display: inline-block;
    margin-top: 200px;
    
    position: relative;

    margin-left: 15px;
    margin-right: 15px;

    transition: all .4s;

    left: -500px;


}

p.text{
    color: white;

    margin-left: 40px;
    margin-top: 80px;

    white-space: normal;
    
    
}
p.author{

    color: white;
    font-weight: bold;

    text-align: center;
    margin: auto;

    
}

div.card-photo{
    width: 100px;
    height: 100px;

    border: 8px solid #007AF3;
    border-radius: 100%;

    background-image: url(../images/Happy\ woman.jpg);
    background-size: cover;

    position: absolute;
    top: -50px;
    left: 82px;
}

button#left{
    position: absolute;

    left: -110px;
    bottom: 160px;

    font-size: 30px;

    z-index: 100;
}

button#right{
    position: absolute;

    right: 0px;
    bottom: 160px;

    font-size: 30px;

    z-index: 100;
}