@charset 'utf-8';

html {
    font-family: 'Electrolize', sans-serif
}
body {
    background-color: #f53b57;

}

.time {
    display: flex;
}

.time > * {
    margin: 5px;
}

.stopTime {
    background-color: #000;
    color: silver;
    border-radius: 5px;

    outline: none;
    border: none;

    padding: 5px;

    transition: transform .4s ease;
}
.stopTime:active {
    transform: scale(1.5);
}

.container {
    display: flex;
}


#firstOutput, .posts {
    min-height: 250px;

    flex: 1;
    border: 12px double black;
    box-shadow: inset 2px 2px 10px black, 2px 2px 10px black;;
}

.changeText {
    color: yellow;
    font-weight: bold;
    text-shadow: 2px 4px 1px #000;
    letter-spacing: 0.5px;
}