@charset 'utf-8';

html {
    font-family: 'Electrolize', sans-serif
}
body {
    background-color: #f53b57;
    padding: 320px;
    border: 2px dotted #ffa801;
    margin: 82px;
    border-radius: 8px;
}

.time {
    display: flex;
}

.time > * {
    margin: 5px;
}

.stopTime {
    background-color: #000;
    color: silver;
    border-radius: 5px;

    outline: none;
    border: none;

    padding: 5px;

    transition: transform .4s ease;
}
.stopTime:active {
    transform: scale(1.5);
}