html {
    
    font-family: 'Baloo Da 2', cursive;
}



header {
    
    margin: 60px;
    
    background-color: cadetblue;
    
    text-align: center;
}

.logo {
    
    
    text-align: center;
    
    margin: 60px;
    
    font-size: 250%;
    
    
}

nav {
    
    background-color: #90579c;
    
    display: flex;
    
}

ul {
    
    flex-flow: row;
    
    display: flex;
    
    justify-content: space-between;
    
    width: 100%;
}

li {
    
    list-style: none;
    
    margin: auto;
    
    transition: 0.4s;
    
    color: aquamarine;
    
    padding: 2px;
    
    
}

li:hover {
    
    
    border: 0.5px dotted aquamarine;
    
    border-radius: 6px;
}

.image-scroller {
    
    background-color: #579c6e;
    
    height: 80%;
    width: 80%;
    
    margin: 10px auto 10px auto;
    
    display: flex;
}

img {
    
    border-radius: 5%;
    
    justify-content: space-around;
    
    height: 400px;
    width: 260;
    
    margin: auto;
    
    transition: all 0.8s;
    
    
    filter: invert(182%) saturate(10%) blur(0.82px);
}

img:hover {
    
    filter: invert(0.2%) saturate(50%) blur(0.18px);
}


.fa-arrow-left {

    font-size: 60px;
    align-self: center;
    margin: auto;
}

.fa-arrow-right {
    
    font-size: 60px;
    align-self: center;
    margin: auto;
}

.image-gallery {
    
    margin: auto;
    
    height: 250px;
    width: 1200px;
    
    background-color: Black;
    
    color: white;
    
    text-align: center;
    
    padding: auto;
}

.images {
    
    width: 190px;
    
    height: 180px;
}

.image-gallery-bottom {
    
    margin: auto;
    
    height: 250px;
    width: 1200px;
    
    background-color: Black;
    
    color: white;
    
    text-align: center;
    
    padding: auto;
}

footer {
    
    text-align: center;
}

