
html {
    
background: -webkit-linear-gradient(to bottom right, #63cdda, #63daac);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom right, #63cdda, #63daac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height: 100%;
}

body {
    
}

.grid-container  {
    display: grid;
    
    width: 80vw;
    min-height: 80vh;
    
    grid-gap: 4px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    
    margin: auto;
    
    text-align: center;
    
}

.grid-container a {
    background-color: #cdda63;
    transition: all .5s;
    
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    padding-bottom: 82px;
    
    border-radius: 10px;

    

}

.grid-container a:hover {
    
    box-shadow: 2px 2px 3px black, -2px -2px 3px black;
    
    background-color: #da63cd;
    
    color: #63da70;
    
}

a {
    text-decoration: none;
    font-size: 200%;
    color: #ab63da;
    font-family: 'Dosis', sans-serif;
    
}

h1 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}


footer {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

