@charset 'utf-8';

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 10px;
}



.form-container {
    width: 50%;
    height: 40vh;
    
    padding: 20px;
    
    border: 1px solid black;
}

.test-form {
    height: 100%;
}

.test-form fieldset {
    height: 100%;
}

.test-form legend {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.form-required {
    color: red;
}

.test-form textarea {
    width: 50%;
    height: 100px;
    resize: none;
    
}