@charset 'UTF-8';

html {
    min-height: 100%;
    background-color: #ffcc66;
}

.form-container {
    width: 30vw;
    margin: auto;
    min-height: 30vh;
    background-color: #66ffcc;
    
}

legend {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 28px;
}

.form-container p {
    display: flex;
    flex-flow: column;
    font-family: 'Baloo Da 2', cursive;
}