@charset 'utf-8';

body {
    background-color: silver;
}

.grid-container {
    width: 75%;
    margin: auto;
    height: 90vh;
    display: grid;
    grid-template-areas: 
        ". top ."
        "left . right"
        ". bottom .";
}


.grid-items:nth-child(1) {
    grid-area: top; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.grid-items:nth-child(2) {
    grid-area: left;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.grid-items:nth-child(3) {
    grid-area: right;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.grid-items:nth-child(4) {
    grid-area: bottom;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}