* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Oxanium', cursive;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #ffccff;
    text-shadow: -2px 2px 2px black;
}

body {
    background-color: #ccffff;
}

.main {
    text-align: center;
    width: 60vw;
    height: 70vh;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    
    
    background-color: #ccffcc;
}

li {
    list-style: none;
    text-align: center;
    font-size: 28px;
}

.sub-menu {
    opacity: 0;
    height: 0;
    font-size: 20px;
}

li:hover .sub-menu {
    transition: 0.75s;
    opacity: 1;
    height: 40px;
}
