body {
    background-color: rgba(2, 2, 1, 0.8);
    
}

h1 {
    color:aquamarine;
    font-size: 82px
}

p {
    font-style:italic;
    letter-spacing: 8px
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul#Subpages li:first-child {
    text-shadow: 1px 1px 8px #460005; /* x y blur color */
    text-align: center;
    font-size: 20px;
        
} 
ul#Subpages a {
    text-decoration: none;
}

ul#Subpages a:hover {
    font-weight: bold;
    color:crimson;
    letter-spacing: 1px;
}


nav ul li a {
    color:white;
    text-decoration: none;
    
}