::selection {
    color:crimson
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00d8d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(219, 202, 202, 0.88);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #600404;
}

body {
    background-color: #1e272e;
    color: #a5a5a5;
    margin: 0px;
    
}

section#wrapper {
    width: 300px;
    height: auto;
    
    background-color: #485460;
    border: 2px solid #000000;
}

section#wrapper p {
    display: block;
    color: #02101d;
    margin-top: 0;
    padding: 5px;
    text-align: center;
    
}

section#StandardUnique {
    margin-right: 0px;
}

section.standard-section {
    width: 200px;
    height: 200px;
    
    
    background-color: #00d8d6;
    border: 3px solid black;
    margin: 10px auto;
    
}
section.StandardChild {
    width: 100%; /* 100% av sin föräldrer */
    height: 23.99%;
    background-color: #34e7e4;
    border-bottom: 2px solid black;
}
section.standardsection img {
    display: inline;
}

.highligted:hover {
    background-color: aqua;
}s