html {
    min-height: 100%;
}
p {
    text-align: center;
    font-size: 200%;
}

body {
    background: -webkit-linear-gradient(to bottom, #55efc4, #00b894);
    background: linear-gradient(to bottom, #55efc4, #ffeaa7);
    border: 1px solid black;
    text-justify: auto;
}

h1 {
    text-align: center;
    color: #2d3436;
    font-size-adjust: auto;
    font-size: 400% ;
    justify-content: flex-start space-around;
    
}

h2 {
    text-align: center;
    font-size-adjust: auto;
    font-size: 200%;
    justify-content: flex-start space-around;
}

nav ul li {
    text-align: center;
    
    justify-content: space-around;
    
    list-style: color: #ef6ba3; 
    
    outline-offset: inherit;
    
    list-style-type: none;

}

li form {
    text-align: center;
}


ul li :hover {
    text-decoration-color: #691136;
    
    color: #f74b94;
    
    
    text-align-last: center;
    
}

a {
    font-size-adjust: auto;
    
    font-size: 120%;
    
    justify-content: space-around;
    
}

aside {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    width: 250px;
}