html {
    min-height: 100%;
}

body {
    background: -webkit-linear-gradient(to bottom, #55efc4, #00b894);
    background: linear-gradient(to bottom, #55efc4, #ffeaa7);
    border: 1px solid black;
    height: 100vh;
}

p {
    text-align: center;
    font-size: 200%;
}

h1 {
    text-align: center;
    color: #2d3436;
/*    font-size-adjust: auto;*/
    font-size: 400% ;
/*    justify-content: flex-start space-around;*/
    
}

h2 {
    text-align: center;
/*    font-size-adjust: auto;*/
    font-size: 200%;
    justify-content: space-around;
}

nav {
    height: 150px;
}
nav ul {
    height: 100px;
    
    list-style: none;
}

nav ul li {
    
    height: 150px;
    
    width: 150px;
    
    margin: auto;

}

nav ul li a {
    
    display: block;
    
    height: 100%;
    
    line-height: 150px;
    
    text-align: center;
    
}

li form {
    text-align: center;
}


a {
    
    border: 1px solid black;
    
    font-size: 200%;
    
}

a:hover {
    font-size: 215%;
}

aside {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    width: 250px;
}

