html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: -webkit-linear-gradient(to bottom, #55efc4, #00b894);
    background: linear-gradient(to bottom, #55efc4, #ffeaa7);
    border: 1px dotted black;
    margin: 0px;
    padding: 0px;

    
}

p {
    text-align: center;
    font-size: 200%;
}

h1 {
    text-align: center;
    color: #2d3436;
    font-size: 400% ;
    
}

h2 {
    text-align: center;
    font-size: 200%;
    justify-content: space-around;
}

}
nav ul {
    height: 100px;
    
    list-style: none;
}

nav ul li {
    
    height: 150px;
    
    width: 150px;
    
    margin: auto;
    
    list-style: none;

}

nav ul li a {
    
    display: block;
    
    height: 100%;
    
    line-height: 150px;
    
    text-align: center;
    
}

li form input {
    text-align: center;
}


li a {
    border: 1px dotted black;
    font-size: 200%;
}

li a:hover {
    border: 1px solid black;
}


}


ul {
    
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}



footer {
    border: 1px dotted black;
    min-width: 100%;
    text-align: center;
    height: 0.05;
}

section.footer-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-top: 142px;
}



.grid-container {
    
    height: 80vh;
    width: 80vw;
    
    
    
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    
    border: 1px solid red;
}

.grid-items {
    border: 1px solid blue;
    
    width: 20vw;

}