html {
    
    background-color: #ffff99;
    
    border: 4px solid white;
    
    border-radius: 8px;
    
    min-height: 90vh;
    
    margin: auto;
    
    padding: auto;
    
    
    
}

.parent-top {
    
    display: flex;
    
    justify-content: space-between;
    
    height: 20vh;
    
    text-align: center;
}
    
.logo {
    
    background-color: #99ffcc;
    
    width: 20%;
    
    transition: all 0.62s;
    
    border: 2px dotted black;
    
}

.logo:hover {
    
    background-color: #99ff66;
    
    border-radius: 16px;
}

.ad {
    
    background-color: #ff99cc;
    
    width: 65%;
    
    transition: all 0.62s;
    
    border: 2px dotted black;
    
}

.ad:hover {
    
    background-color: #ff6699;
    
    border-radius: 16px;
    
    
}

.flex {
    
    display: flex;
    
    
}

.nav {
    
    
    text-align: center;
    
    
    background-color: #99ffff;
    
    justify-content: space-around;
    
    height: 5vh;
    
    width: 95vw;
    
    margin: auto;
    
    margin-top: 20px;
    
    transition: all 0.62s;
    
    border: 2px dotted black;
    
    
}

.nav:hover {
    
    background-color: #99ff99;
    
    border-radius: 16px;
}


main {
    
    display: flex;
     height: 80vh;
    
    text-align: center;
    
    background-color: #cc99ff;
    
    margin-top: 20px;
    
    text-align: center;
    
    border-bottom: 2px dotted black;
    
    border-top: 2px dotted black;
    
    border-radius: 8px;
}


.main-left {
    
    background-color: #a9a8fa;
    
    height: 100%;
    
    flex: 1;
    
    border-right: 2px dotted black;
    
    border-left: 2px dotted black;
}

.main-center {
    
    background-color: #9caffd;
    
    height: 100%;
    
    flex: 1;
    
    border-right: 2px dotted black;
}

.main-right {
    
    background-color: #9db4fd;
    
    height: 100%;
    
    flex: 1;
    
    border-right: 2px dotted black;
    
    
}