@charset 'utf-8';

body {
    background-color: #00d2d3;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    
    width: 80vw;
    height: 90vh;
    
    border: 1px solid white;
    margin: auto;                    
}

.grid-item:nth-child(odd) {
    background-color: #54a0ff;
}

.grid-item:nth-child(even) {
    background-color: #2e86de;
}