@charset "utf-8";

body {
    background-color: #7bed9f;
    margin: 0;
    padding: 0;
}

.grid-container {
    background-color: #ED7BC9;
    width: 80vw;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 2px 0 8px black, -2px 0 8px black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item:nth-child(1) {
    background-color: #EDcBCa;
}

.grid-item:nth-child(2) {
    background-color: #EDbBCb;
}

.grid-item:nth-child(3) {
    background-color: #EDaBCc;
}

.grid-item:nth-child(4) {
    background-color: #ED9BCd;
}

.grid-item:nth-child(5) {
    background-color: #ED8BCe;
}

.grid-item:nth-child(6) {
    background-color: #ED7BCf;
}

.grid-item:nth-child(7) {
    background-color: #ED6BC0;
}

.grid-item:nth-child(8) {
    background-color: #ED5BC1;
}