.toptop {
    
    text-align: center;
    
    display: flex;
    
    margin-left: 1400px;
    margin-right: 20px;
    
    justify-content: space-between;
}


.top {
    
    display: flex;
    
}

.left {
    
    flex: 2;
    
    text-align: center;
    
    border: 1px solid black;
}

.middle {
    
    flex: 4;
    
    text-align: center;
    
    border: 1px solid black;
    
    margin-left: 10px;
    margin-right: 10px;
}

.right {
    
    flex: 2;
    
    text-align: center;
    
    border: 1px solid black;
}

.toptop p {
    text-align: end;

}

.wide {
    
    display: flex;
    
    justify-content: space-around;
    
    margin: auto;
    
    padding: auto;
    
    border: 1px solid black;
    
    margin-top: 20px;
    
    align-items: center;
    
}

.under1 {
    
    text-align: center;
    
}

.under2 {
    
    text-align: center;
}

.under3 {
    
    text-align: center;
}

.under4 {
    
    text-align: center;
}

.under5 {
    
    text-align: center;
}

.bottom {
    
    display: flex;
    justify-content: space-around;
    
    margin-top: 20px;
    
    width: 100%;
    
    border: 1px solid black;
    
    
    
}

.left-bottom {
    
    border-right: 1px dotted black;
    
    padding: 12px;
    
    flex: 1;
    
}

.middle-bottom {
    
    border-right: 1px dotted black;
    border-left: 1px dotted black;
    
    padding: 12px;
    
    flex: 3;
    
    
}

.right-bottom {
    
    border-left: 1px dotted black;
    
    padding: 12px;
    
    flex: 1;
}

p {
    
    text-align: center;
    
}

.right-under1 {
    
    border: 1px solid black;
    
    margin: 8px;
}

.right-under2 {
    
    border: 1px solid black;
    
    margin: 8px;
}

.right-under3 {
    
    border: 1px solid black;
    
    margin: 8px;
}

.images {
    
    display: flex;
    
    flex-flow: column;
}

img {
    
    max-width: 150px;
    
    max-height: 180px;
    
    margin: 4px;
    
    padding-left: 90px;
}

.bottom-images {
    
    margin-top: 400px;
    display: flex;
}

.left {
    
    text-align: left;
    
    width: 200px;
    height: 260px;
    
}

.right {
    
    display: flex;
    
}

.right img {
    
    justify-content: center;
    
    margin-left: 820px;
}
