html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background: -webkit-linear-gradient(to bottom, #55efc4, #00b894);
    background: linear-gradient(to bottom, #55efc4, #ffeaa7);
    border: 1px dotted black;
    margin: 0px;
    padding: 0px;

    
}

p {
    text-align: center;
    font-size: 200%;
}

h1 {
    text-align: center;
    color: #2d3436;
    font-size: 400% ;
    
}

h2 {
    text-align: center;
    font-size: 200%;
    justify-content: space-around;
}

}
nav ul {
    height: 100px;
    
    list-style: none;
}

nav ul li {
    
    height: 150px;
    
    width: 150px;
    
    margin: auto;
    
    list-style: none;

}

nav ul li a {
    
    display: block;
    
    height: 100%;
    
    line-height: 150px;
    
    text-align: center;
    
}

li form input {
    text-align: center;
}


li a {
    border: 1px dotted black;
    font-size: 200%;
}

li a:hover {
    border: 1px solid black;
}


}


ul {
    
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}



footer {
    border: 1px dotted black;
    min-width: 100%;
    text-align: center;
    height: 0.05;
}

section.footer-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    padding-top: 142px;
}



.grid-container {
    display: grid;
    
    grid-template-columns: 0.4fr 1fr 0.4fr;
    grid-auto-rows: 200px;
    
    width: 80%;
    min-height: 90vh;
    margin: auto;
        
}

.grid-items {
    transition: all .4s;
}

.grid-items:hover {
    transform: scale(1.04);
}

.grid-items {
    border: 1px solid black;
}

.grid-items:nth-child(1) {
    background-image: url(../Images/Memes/80upvotesBoi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-items:nth-child(2) {
    background-image: url(../Images/Memes/Meme1.png);
    background-size: contain;
}

.grid-items:nth-child(3) {
    background-image: url(../Images/Memes/Meme2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.grid-items:nth-child(4) {
    background-image: url();
    background-size: ;
}

.grid-items:nth-child(5) {
    background-image: url();
    background-size: cover;
}

.grid-items:nth-child(6) {
    background-image: url();
    background-size: cover;
}

.grid-items:nth-child(7) {
    background-image: url();
    background-size: cover;
}

.grid-items:nth-child(8) {
    background-image: url();
    background-size: cover;
}

.grid-items:nth-child(9) {
    background-image: url();
    background-size: cover;
}