@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color: skyblue;
}

.container {
    background-color: #c8e5e5;
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 250px;

    align-items: center;
    justify-content: space-around;

}

header h1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    

    flex: 1;

}
nav {
    flex: 3;

    justify-content: flex-end;
}
a {
    text-decoration: none;
    color: black;
}
.span-logo {
    color: #007af3;
}
.mobile-icon, .mobile-icon-close {
    display: none;
}
nav ul {
    list-style: none;

    justify-content: space-evenly;

    width: 70%;

    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;

    color: black;
}
nav ul li:hover {
    
    transition: all 0.4s;
    color: #007af3;
}

nav ul li a:hover {
    transition: all 0.4s;
    color: #007af3;
}


/*  Utility Classes */

.add-flex {
    display: flex;
}

.active {
    font-weight: bold;
}
main {
    min-height: 1000px;
    width: 100%;
}
.main-left {
    flex: 1;
    background-color: #c8e5d7;
}
.main-center {
    flex: 1;
    background-color: #c8e5c9;

    text-align: center;
    justify-content: space-around;
    margin: 2px;

}

.main-center p {

    font-size: 16px;
    margin: 2px;
}

.main-center h2 {
    font-size: 24px;
    font-style: italic;

    background: -webkit-linear-gradient(#159957, #155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.main-right {
    flex: 1;
    background-color: #c8e5d7;
}

.aside-text {
    text-align: center;
    margin: 8px;
}
.aside-pictures {
    justify-content: space-around;
}

.aside-pictures img {
    height: 250px;
    width: 300px;

    border: 0.5px dotted black;
    border-radius: 8px;
    filter: invert(0%);
    transition: all .3s;
    
}
.aside-pictures img:hover {
    transition: all .6s;
    filter:invert(100%);
}

.text {
    border: 0.5px dotted black;
    border-radius: 8px;
}
iframe {
    border: 0.5px dotted black;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: 250px;

    background-color: #c8e5e5;

}

footer p {
    text-align: center;
    font-size: 16px;
    font-style: italic;

    margin-top: 2%;
}

.input-parent {
    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

    margin: auto;
}

.form {
    border: 0.5px dotted black;

    width: 30vw;
    min-height: 20vh;

    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
}

p.contact-header {
    font-size: 28px;
}

textarea {
    margin-bottom: 20px;
    width: 70%;
    height: 100px;

    resize: none;
}

button.SendBtn {

    width: 30%;
    height: 20%;

    margin-bottom: 20px;

    border-radius: 8px;

    background-color: white;
    transition: all .3s;
}

button.SendBtn:hover {

    transition: all .2s;
    
    transform: scale(1.05);

    font-weight: bold;
}
