@charset "utf-8";

body {
    overflow-x: hidden;
}

header {
    justify-content: center;
    position: relative;
}

.span-logo {
    /* color: #f30096; */
}
.mobile-icon {
    display: block;
    position: absolute;
    /* z-index: 2; */
    top: 20px;
    right: 20px;

    transform:scale(1.0);
    transition: all 0.4s;
}

.mobile-icon:hover {

    transform: scale(1.15);
    transition: all 0.4s;
}

.mobile-icon-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

    transform:scale(1.0);
    transition: all 0.4s;
}

.mobile-icon-close:hover {

    transform: scale(1.15);
    transition: all 0.4s;
}


.mobile-menu {
    height: 100%;
    position: absolute;
    transform: translateX(100%);
    background-color: #cfe7e7;
    align-items: center;

    transition: all .4s;
}

.mobile-menu-toggle {
    transform: translateX(0%);
}

.mobile-menu ul {
    flex-direction: column;
    align-items: center;
    /* z-index: 1; */

}

.mobile-menu li {
    background-color: #f3f3f3;
    width: 100%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px dotted black;
    border-radius: 8px;
}

.mobile-menu li:hover {
    background-color: #c8e5c9;
    transition: all .2s;
}