@charset "utf-8";

body {
    overflow: hidden;
}

header {
    justify-content: center;
    position: relative;
}

.span-logo {
    color: #f30096;
}
.mobile-icon {
    display: block;
    position: absolute;

    top: 28px;
    right: 28px;
}

.mobile-menu ul {
    flex-direction: column;

}

.mobile-menu {
    position: absolute;
}