html {
    min-height: 100%;
    
    font-family: 'Sen', sans-serif;
    
    background: #ffffcc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #9c2538, #ffffcc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #9c2538, #ffffcc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.site-banner {
    
    min-height: 20vh;
    max-height: 25vh;
    
    min-width: 40vw;
    max-width: 60vw;
    
    margin: auto;
    
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9933ff, #99ff33);
    background: -o-linear-gradient(to bottom, #9933ff, #99ff33);
    background: linear-gradient(to bottom, #9933ff, #99ff33);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    
    color: #ccff33;
    text-align: center;
    text-shadow: black 3px -2px 3px;
}

h2 {
    
    color: #bbff33;
    text-align: center;
    text-shadow: black 3px -2px 3px;
}

.navigation {
    
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff3399, #33ff99; );
    background: -o-linear-gradient(to right, #ff3399, #33ff99);
    background: linear-gradient(to right, #ff3399, #33ff99);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    min-height: 5vh;
    
    margin-left: 10px;


}

h3 {
    text-align: center;
}

.articles {
    
    background: #6A9113;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9c2538, #89259c, #259c4d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9c2538, #89259c, #259c4d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    text-align: center;
    
    font-size: 20px;
    
    margin: auto;
    
    width: 40vw;
    
    margin-top: 12px;
    
    text-shadow: 0.5px 2.8px 2px;
    
    padding: auto;
    
    height: 80vh;

    
}

#Blogg1 {
    
    height: 25vh;
    
}

#Blogg2 {
    
    height: 20vh;
}

#Blogg3 {
    
    height: 15vh;
}

.rightside {
    
    text-align: center;
    
    height: 80vh;
    
    width: 40vw;
    
    margin: auto;
    
    display: flex;
    
    flex-flow: column;
    
    
}

.mail {
    background-color: #36a288;
    
    margin-bottom: 20px;
    
    flex: 2;
    
}

.text1 {
    background-color: #378875;
    
    margin-bottom: 20px;
    
    flex: 1;
    
}

.text2 {
    background-color: #3a8473;
    
    margin-bottom: 20px;
    
    
}

.frog-parent {
    
    display: flex;
    
    flex-flow: row;
    
    justify-content: space-between;
    
    
}

.left {
    background-color: darkgray;
    
    flex: 1;
    
}

.right {
    background-color: grey;
    
    flex: 1;
    
    height: 10vh;

}

main {
    display: flex;
}

.under-frog {
    background-color: white;
    
    
}

footer {
    
    text-align: center;
    text-shadow: black 2px -2px 4px;
    
    
}